
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Haguichi
GenericName=Zero Configuration VPN
Exec=haguichi
Terminal=false
Comment=Join and create local networks over the Internet
Comment[cs]=Připojení a vytváření lokálních sítí po internetu
Comment[de]=Lokale Netzwerke im Internet erstellen und diesen beitreten
Comment[es]=Únase y cree redes locales a través de Internet
Comment[fr]=Joindre ou créer des réseaux locaux au travers d'Internet
Comment[it]=Crea ed unisciti a reti locali attraverso Internet
Comment[ja]=インターネット越しのローカルネットワークを作ったり参加してみよう
Comment[kk]=Интернет арқылы локальды желілерге кіріңіз, әрі оларды құрыңыз
Comment[nl]=Maak en treedt toe tot lokale netwerken via het internet
Comment[pl]=Dołączaj i twórz lokalne sieci po przez internet
Comment[pt_BR]=Crie e junte-se a redes locais via internet
Comment[ru]=Создавайте и подключайтесь к локальным сетям в интернете
Comment[sv]=Anslut och skapa lokala nätverk över internet
Comment[tr]=İnternet üzerinden yerel ağlara katılın veya yerel ağlar kurun
Icon=haguichi
Categories=Network;P2P;GTK;GNOME;
