
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Haguichi
Exec=haguichi
Terminal=false
Comment=Join and create local networks over the Internet
Comment[nl]=Maak en treedt toe tot lokale netwerken via het internet
Comment[es]=Únete y crea redes locales a través de Internet
Icon=haguichi
Categories=Network;GTK;GNOME;
