
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Haguichi
Exec=haguichi
Terminal=false
Comment=Join and create local networks over the Internet
Comment[de]=Lokale Netzwerke im Internet erstellen und diesen beitreten
Comment[es]=Únete y crea redes locales a través de Internet
Comment[fr]=Joindre ou créer des réseaux locaux à travers l'Internet
Comment[nl]=Maak en treedt toe tot lokale netwerken via het internet
Icon=haguichi
Categories=Network;GTK;GNOME;
X-GNOME-Autostart-enabled=false
