Source: haguichi
Section: net
Maintainer: Stephen Brandt <stephen@stephenbrandt.com>
Priority: optional
Build-Depends: debhelper-compat (= 13),
               desktop-file-utils,
               gettext,
               libadwaita-1-dev,
               libgee-0.8-dev,
               libglib2.0-dev,
               libgtk-4-dev,
               libportal-dev,
               libportal-gtk4-dev,
               meson,
               valac
Homepage: https://haguichi.net

Package: haguichi
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: bash,
            coreutils,
            dnsutils,
            iputils-ping,
            pkexec,
            tar,
            xdg-utils
Description: Manage your Hamachi networks
 Haguichi makes it a breeze to join, create and administer Hamachi networks.
 .
 Features:
  * Searchable, sortable and collapsible network list
  * Sidebar for easy access to details and actions
  * Indicator support for quick access to primary actions
  * Desktop notifications to stay up to date of network events
  * Commands that can be completely customized
  * Backup and restore of your Hamachi configuration folder
