Source: haguichi
Section: net
Maintainer: Stephen Brandt <stephen@stephenbrandt.com>
Priority: optional
Build-Depends: build-essential, po-debconf, gettext, cmake (>= 2.6), valac-0.26 | valac (>= 0.26), libgtk-3-dev (>= 3.14), libglib2.0-dev (>= 2.42), libnotify-dev (>= 0.7.6)
Homepage: https://www.haguichi.net/

Package: haguichi
Architecture: any
Depends: libglib2.0-0 (>= 2.42), libgtk-3-0 (>= 3.14), libnotify4 (>= 0.7.6)
Recommends: haguichi-indicator
Description: Graphical frontend for Hamachi
 Haguichi provides a graphical frontend for Hamachi on Linux. It
 features fully customizable commands, notification bubbles, rich tooltips,
 along with a searchable, sortable and collapsible network list.
