@import url("resource:///com/github/ztefn/haguichi/stylesheets/default.css");

/*
 * Set background color for preferences dialog
 */

.preferences {
    background-color: shade (@insensitive_bg_color, 0.85);
}
