/*
 * Set font size for welcome headings
 */

.welcome .h1 {
    font-size: large;
}

.welcome .h2 {
    font-size: medium;
}


/*
 * Set background color for connected and disconnected boxes
 */

.connected-box {
    background-color: @theme_base_color;
}

.disconnected-box {
    background-color: @insensitive_bg_color;
}


/*
 * Set font size and weight for sidebar heading
 */

.sidebar .h2 {
    font-weight: bold;
    font-size: large;
}


/*
 * Set padding for sidebar labels and entries
 */

.sidebar-label,
.sidebar-entry {
    padding-top: 6px;
    padding-bottom: 6px;
}


/*
 * Set font weight and padding for preferences headings
 */

.preferences .h4 {
    font-weight: bold;
    padding-bottom: 6px;
}


/*
 * Set font size for dimmed labels in commands editor
 */

.preferences .commands-editor .dim-label {
    font-size: small;
}


/*
 * Set styles for network nodes
 */

.network-node {
    border-radius: 50%;
}

.network-node-online {
    background-color: #33d17a;
}

.network-node-online-relayed {
    background-color: #0bbaf4;
}

.network-node-unreachable {
    background-color: #ff9934;
}

.network-node-unapproved {
    background-color: #ed3940;
}

.network-node-error {
    background-color: #f7dd49;
}

.network-node-offline {
    background-color: alpha(#c0bfbc, 0.6);
}
