/*
 * Set font size for welcome headings
 */

.welcome .h1 {
    font-size: large;
}

.welcome .h2 {
    font-size: medium;
}


/*
 * Set font size and weight for sidebar heading
 */

.sidebar .h2 {
    font-weight: bold;
    font-size: large;
}


/*
 * Set background color and heading font weight for preferences dialog
 */

DialogsPreferences {
    background-color: @insensitive_bg_color;
}

DialogsPreferences .h4 {
    font-weight: bold;
}


/*
 * Set background color for connected and disconnected boxes
 */

.connected-box {
    background-color: @theme_base_color;
}

.disconnected-box {
    background-color: @insensitive_bg_color;
}
