/*
 * Override font size for welcome headings
 */

.welcome .h1 {
    font-size: 16px;
}

.welcome .h2 {
    font-size: 12px;
}


/*
 * Set padding for sidebar labels and entries
 */

.sidebar-label,
.sidebar-entry {
    padding-top: 4px;
    padding-bottom: 5px;
}


/*
 * Set font size for dimmed labels in commands editor
 */

.preferences .commands-editor .dim-label {
    font-size: small;
}


/*
 * Fix headerbar being too high when using subtitle
 * https://github.com/elementary/stylesheet/issues/352
 */

.haguichi-window .titlebar
{
    padding-top: 3px;
    padding-bottom: 2px;
}
