/*
 * Set styles for connect button in titlebar
 */

.titlebar .image-button.suggested-action {
    border-radius: 50%;
    -gtk-outline-radius: 50%;
}

.titlebar .image-button.suggested-action:not(:disabled) {
    background-color: @selected_bg_color;
    border: 1px solid alpha(#000, 0.2);
    box-shadow:
        0 1px 0 0 alpha(#fff, 0.25),
        inset 0 1px 0 0 alpha(#fff, 0.25);
}

.titlebar .image-button.suggested-action:checked {
    background-color: @accent_color;
}

.titlebar .image-button.suggested-action:checked:backdrop {
    background-color: alpha(@accent_color, 0.9);
}

.titlebar .image-button.suggested-action:checked image {
    color: shade(@accent_color, 0.5);
    -gtk-icon-shadow: 0 1px shade(@accent_color, 1.2);
}


/*
 * Override font size for welcome headings
 */

.welcome .h1 {
    font-size: 16px;
}

.welcome .h2 {
    font-size: 12px;
}


/*
 * Override font size for sidebar headings
 */

.sidebar .h2 {
    font-size: 22px;
}


/*
 * Set padding for sidebar labels and entries
 */

.sidebar-label,
.sidebar-entry {
    padding-top: 4px;
    padding-bottom: 5px;
}


/*
 * Set font size for dimmed labels in commands editor
 */

.preferences .commands-editor .dim-label {
    font-size: small;
}


/*
 * Remove margin from action area in about dialog
 */
.about-dialog .dialog-action-area {
    margin: 0;
}


/*
 * Set styles for network nodes
 */

.network-node {
    border-radius: 50%;
}

.network-node-online {
    background-color: #9bdb4d;
}

.network-node-online-relayed {
    background-color: #64baff;
}

.network-node-unreachable {
    background-color: #ffa154;
}

.network-node-unapproved {
    background-color: #ed5353;
}

.network-node-error {
    background-color: #f9c440;
}

.network-node-offline {
    background-color: alpha(#d4d4d4, 0.6);
}


/*
 * Fix headerbar being too high when using subtitle
 * https://github.com/elementary/stylesheet/issues/352
 */

.haguichi-window .titlebar
{
    padding-top: 4px;
    padding-bottom: 4px;
}
