@import "elementary.css";


/*
 * Increase contrast for accent labels
 * https://gitlab.gnome.org/GNOME/libadwaita/-/blob/1.10.0/src/stylesheet/_colors.scss#L88
 */

.accent {
  color: oklab(from @accent_color max(l, 0.85) a b);
}


/*
 * Override background colors for overlay split view
 */

overlay-split-view widget:not(.sidebar-pane) > toolbarview,
overlay-split-view widget:not(.sidebar-pane) > toolbarview searchbar,
overlay-split-view widget:not(.sidebar-pane) > toolbarview listview {
  background-color: @insensitive_bg_color;
}

overlay-split-view widget.sidebar-pane {
  background-color: @base_color;
}


/*
 * Override background color for network list refresh button
 */

#overlay-refresh-button {
  background-color: alpha(@BLACK_300, 0.5);
}


/*
 * Override background colors for network nodes
 */

#network-list > scrolledwindow > listview > row .network-node-unapproved {
  background: @STRAWBERRY_300;
}

#network-list > scrolledwindow > listview > row .network-node-error {
  background: @BANANA_300;
}

#network-list > scrolledwindow > listview > row .network-node-offline {
  background: alpha(@SILVER_300, 0.6);
}

