@import "elementary.css";


/*
 * Override background colors for overlay split view
 */

overlay-split-view widget:not(.sidebar-pane) > toolbarview,
overlay-split-view widget:not(.sidebar-pane) > toolbarview searchbar,
overlay-split-view widget:not(.sidebar-pane) > toolbarview listview {
  background-color: @insensitive_bg_color;
}

overlay-split-view widget.sidebar-pane {
  background-color: @base_color;
}


/*
 * Override background color for network list refresh button
 */

#overlay-refresh-button {
  background-color: alpha(@BLACK_300, 0.5);
}


/*
 * Override background colors for network nodes
 */

#network-list > scrolledwindow > listview > row .network-node-unapproved {
  background: @STRAWBERRY_300;
}

#network-list > scrolledwindow > listview > row .network-node-error {
  background: @BANANA_300;
}

#network-list > scrolledwindow > listview > row .network-node-offline {
  background: alpha(@SILVER_300, 0.6);
}

