@import url("resource:///com/github/ztefn/haguichi/stylesheets/default.css");

/*
 * Set styles for network nodes
 */

.network-node-online {
    background: #6db442;
}

.network-node-online-relayed {
    background: #6cabcd;
}

.network-node-unreachable {
    background: #ff9c3d;
}

.network-node-unapproved {
    background: #e43935;
}

.network-node-error {
    background: #ffc332;
}

.network-node-offline {
    background: alpha(#9d9d9d, 0.6);
}
