#network-list > scrolledwindow > listview > row .network-node-online {
  background: @green_2;
}

#network-list > scrolledwindow > listview > row .network-node-online-relayed {
  background: @blue_2;
}

#network-list > scrolledwindow > listview > row .network-node-unreachable {
  background: @red_1;
}

#network-list > scrolledwindow > listview > row .network-node-unapproved {
  background: @purple_1;
}

#network-list > scrolledwindow > listview > row .network-node-error {
  background: @yellow_2;
}

#network-list > scrolledwindow > listview > row .network-node-offline {
  background: @dark_1;
}

