@import url("resource:///com/github/ztefn/haguichi/base.css");

window.custom .suggested-action {
  color: @dark_4;
  background: linear-gradient(to bottom, #006EFF 49.99%, #FFD500 50.01%);
}


#add-network-button button {
  padding: 3px;
}


#network-list > scrolledwindow > listview > row {
  border-radius: 6px;
  margin: 0 6px 2px;
  padding: 6px;
}

#network-list > scrolledwindow > listview > row:last-child {
  margin-bottom: 6px;
}


#network-list > scrolledwindow > listview > row .network-node {
  border-radius: 50%;
}

#network-list > scrolledwindow > listview > row .network-node-online {
  background: @green_5;
}

#network-list > scrolledwindow > listview > row .network-node-online-relayed {
  background: @blue_3;
}

#network-list > scrolledwindow > listview > row .network-node-unreachable {
  background: @red_1;
}

#network-list > scrolledwindow > listview > row .network-node-unapproved {
  background: @purple_3;
}

#network-list > scrolledwindow > listview > row .network-node-error {
  background: @yellow_5;
}

#network-list > scrolledwindow > listview > row .network-node-offline {
  background: @light_5;
}


menubutton.command-variables popover contents label.title-4 {
  margin: 9px;
}

