@import url("resource:///com/github/ztefn/haguichi/stylesheets/default.css");

/*
 * Set styles for network nodes
 */

.network-node-online {
    background-color: #46bf57;
}

.network-node-online-relayed {
    background-color: #19b6ee;
}

.network-node-unreachable {
    background-color: #fb7c38;
}

.network-node-unapproved {
    background-color: #f22c42;
}

.network-node-error {
    background-color: #ffd347;
}

.network-node-offline {
    background-color: alpha(#b3b3b3, 0.6);
}
